.hero {
    padding: 0;
    min-height: 80vh;
    background-image: url(../images/FrontImage.jpg);
    text-align: center;
    background-size: cover;
    



    &__content{
        
        img {
            padding-top: 80px;
            max-width: 100%;
        }

        p{
            padding: 24px;
        }
    }

}
